<body>

<div class="jumbotron jumbotron2-hero">
<div class="containerMain">
  <br>
  <right><h2>MEE<strong>OOO</strong>W</h2></right>
    <right><h6>*we're <strong> waiting</strong> for Y<strong>OOO</strong>U !</h6></right>
  </div>
</div>

</body>

</html>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center"><strong>Recover your password</strong></h1>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        
        <div class="actions mt-5">
          <%= f.submit "Receive instructions", class: "btn btn-lg btn-primary btn-block" %>
        </div>
        
      <% end %>
      <%= render "devise/shared/links" %>
      </br>
      </br>
    </div>
  </div>
</div>
